/dist/
/docs/generated/*
!/docs/generated/graphs/
!/docs/generated/graphs/*.dot
!/docs/generated/graphs/*.svg
/packages/**/dist/
/packages/**/.luarocks-build/
/packages/**/.lrbuild/
/lua_modules/
*.o
*.so
/.luarocks/
/result
/result-*
/*.tar.gz
.direnv/
.env
